.main.background {
  background-image: linear-gradient(to bottom, red, blue);
  border-width: 0px;
}
.titlebar.backdrop {
  background-image: none;
  background-color: @bg_color;
  border-radius: 10px 10px 0px 0px;
}
.titlebar {
  background-image: linear-gradient(to bottom, white, @bg_color);
  border-radius: 10px 10px 0px 0px;
}
